/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #000;  /* Black background color for the whole page */
  color: #fff;  /* White text color */
  margin: 0;
  padding: 0;
}

/* Homepage styles */
.homepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: #000;  /* Black background color for the homepage container */
}

/* Title style for homepage */
.home-title {
  text-align: center;
  font-size: 16px;
  color: #fff;  /* White text color for the title */
  margin-bottom: 20px;  /* Space below the title */
}

/* Movie card styles */
.movie-card {
  background-color: #1E1E1E;  /* Dark background color for the movie cards */
  border: 1px solid #333;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 100%;  /* Full width for the movie cards */
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
  color: #FFFFFF;  /* White text color for the movie cards */
  box-sizing: border-box;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100px;  /* Fixed width for the image */
  height: auto;
  border-radius: 8px;
  margin-right: 20px;  /* Space between the image and text */
}

.movie-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.movie-card h2 { /* Changed from h1 to h2 for better hierarchy */
  font-size: 18px;
  margin: 0 0 10px 0;
}

.movie-card p.description {
  font-size: 14px;
  margin: 0;
  background-color: #333;  /* Dark background for the description box */
  padding: 10px;
  border-radius: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;  /* Adjust line-height to control the number of lines */
  max-height: 3em;  /* Limit height to accommodate 2 lines of text */
}

/* Detail page styles */
.detail-page {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: #1E1E1E;  /* Dark background color for the detail page */
  color: #ffffff;  /* White text color for the detail page */
  border-radius: 8px;  /* Rounded corners for the detail page container */
}

.detail-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.detail-page img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.detail-page p.description {
  font-size: 16px;
  line-height: 1.5;
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination button {
  background-color: #1E1E1E;
  border: 1px solid #333;
  color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.pagination button:hover {
  background-color: #333;
}

.pagination button:disabled {
  cursor: not-allowed;
  background-color: #666;
}

.pagination span {
  align-self: center;
  color: #fff;
  font-size: 14px;
}
