/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #000;  /* Black background color for the whole page */
  color: #fff;  /* White text color */
  margin: 0;
  padding: 0;
}

/* Homepage styles */
.homepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: #000;  /* Black background color for the homepage container */
}

/* Title style for homepage */
.home-title {
  text-align: center;
  font-size: 2rem;
  color: #fff;  /* White text color for the title */
  margin-bottom: 20px;  /* Space below the title */
}

/* Movie card styles */
.movie-card {
  background-color: #1E1E1E;  /* Dark background color for the movie cards */
  border: 1px solid #333;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 100%;  /* Full width for the movie cards */
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
  color: #FFFFFF;  /* White text color for the movie cards */
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100px;  /* Fixed width for the image */
  height: auto;
  border-radius: 8px;
  margin-right: 20px;  /* Space between the image and text */
}

.movie-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-card h2 { /* Changed from h1 to h2 for better hierarchy */
  font-size: 18px;
  margin: 0 0 10px 0;
}

.movie-card p {
  font-size: 14px;
  margin: 0;
  background-color: #333;  /* Dark background for the description box */
  padding: 10px;
  border-radius: 8px;
}

/* Detail page styles */
.detail-page {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: #ffffff;  /* White background color for the detail page */
  color: #000000;  /* Black text color for the detail page */
}

.detail-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.detail-page img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.detail-page p {
  font-size: 16px;
  line-height: 1.5;
}
